<?xml version="1.0" encoding="utf-8"?>
<!--
Apache Taverna Mobile
Copyright 2015 The Apache Software Foundation
This product includes software developed at
The Apache Software Foundation (http://www.apache.org/).

Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements. See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
The ASF licenses this file to You under the Apache License, Version 2.0
(the "License"); you may not use this file except in compliance with
the License. You may obtain a copy of the License at
http://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.apache.taverna.mobile" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Taverna" >
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activities.FlashScreenActivity"
            android:label="@string/title_activity_flash_screen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.DashboardMainActivity"
            android:label="@string/title_activity_dashboard_main"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".activities.WorkflowDetailActivity"
            android:label="@string/title_activity_workflow_detail"
            android:parentActivityName=".activities.DashboardMainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.apache.taverna.mobile.activities.DashboardMainActivity" />
        </activity>

        <receiver
            android:name=".broadcastreceivers.WorkflowDownloadReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activities.DashboardMainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.apache.taverna.mobile.activities.DashboardMainActivity" />
        </activity>
        <activity
            android:name=".activities.RunResult"
            android:label="@string/title_activity_run_result"
            android:parentActivityName=".activities.WorkflowDetailActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.apache.taverna.mobile.activities.WorkflowDetailActivity" />
        </activity>
        <activity
            android:name="com.dropbox.client2.android.AuthActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|keyboard">
            <intent-filter>
                <!-- Change this to be db- followed by your app key -->
                <data android:scheme="db-doicbvkfyzligh2" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
